<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Login</title>
    <link href='{{ STATIC_URL }}dashboard/css/style.css' media='screen' rel='stylesheet' />
  </head>
  <body id="standalone">
    <div id="login_wrapper">
      <div class='large-rounded' id='login'>
        {% include "_messages.html" %}
        {% include '_login.html' %}
        <ul id='alternate_links' align='center'>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
        <hr />
        </ul>
        <br />
        <br />
        <br />
        {% if gakunin_configured %}
          <div align="center"><a href="{{ gakunin_login_url }}">Sign In with GakuNin</a></div>
        {% endif %}
      </div>
    </div>

  </body>
</html>
