<form id="acl_html"  method="post">
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {% for field in form.visible_fields %}
    {{ field.label_tag }}
    {{ field.errors }}
    {{ field }}
  {% endfor %}
  <input name="container_name" type="hidden" value="{{container_name}}" />
  <input name="read_acl" type="hidden" value="{{read_acl}}" />
  <input name="write_acl" type="hidden" value="{{write_acl}}" />
  <input type="submit" value="Add ACL" class="large-rounded" />
</form>
