<table id="containers" class="wide">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  {% for container in containers %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ container.name }}</td>
    <td id="status">
      <ul>
        <li>Count: {{ container.object_count }} </li>
        <li>Size: {{ container.size_used|filesizeformat }} </li>
        {% for header in container.headers %}
        <li>Data: {{ header }} </li>
        {% endfor %}
      </ul>
    </td>
    <td id="actions">
      <ul>
        <li class="form" style="margin: 0" >{% include "django_openstack/dash/containers/_delete.html" with form=delete_form %}</li>
        <li style="margin: 0"><a href="{% url dash_objects request.user.tenant_id container.name %}">List Objects</a></li>
        <li style="margin: 0"><a href="{% url dash_objects_upload request.user.tenant_id container.name %}">Upload Object</a></li>
        <li style="margin: 0"><a href="{% url dash_containers_public request.user.tenant_id container.name %}">PUBLIC</a></li>
        <li style="margin: 0"><a href="{% url dash_containers_acl request.user.tenant_id container.name %}">ACL</a></li>
        <li style="margin: 0"><a href="{% url dash_containers_meta request.user.tenant_id container.name %}">MetaData</a></li>
      </ul>
    </td>
  </tr>
  {% endfor %}
</table>
