{% extends 'django_openstack/dash/base.html' %}

{% block sidebar %}
  {% with current_sidebar="containers" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% include "django_openstack/common/_page_header.html" with title="Make Container Public as HTML" %}
{% endblock page_header %}

{% block dash_main %}
  <h3 class="container_name"><span>Container:</span> {{container_name}}</h3>

  <div class="dash_block wide form">
    <div class="left">
      <h3>Published as HTML</h3>
      {% include 'django_openstack/dash/containers/_public.html' with form=public_form greeting="HI" %}
    </div>

    <div>
    {% for object in objects %}
    {{ object.name }}
    {% endfor %}
    </div>
    <div class="right">
      <h3>Description:</h3>
      <p>You can publish swift objects as HTML.</p>
    </div>
    <div class="clear">&nbsp;</div>
  </div>

  <script>
    $(function() {
       $("#id_public_html").button();
       $("#id_use_css_in_listing").button();
       $("#id_html_listing").button();
    });
  </script>
{% endblock %}


