<table id="objects" class="wide">
  <tr>
    <th id="name">Name</th>
    <th id="status">Status</th>
    <th id="actions">Actions</th>
  </tr>
  {% for object in objects %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ object.unquote_name }}</td>
    <td>
      <ul>
        <li style="margin: 0">{{ object.content_type }}</li>
        <li style="margin: 0">{{ object.size|filesizeformat }}</li>
        <li style="margin: 0">{{ object.last_modified }}</li>
      </ul>
    </td>
    <td id="actions">
      <ul>
      <ul>
        <li style="margin: 0"><a href="{% url dash_object_copy request.user.tenant_id container_name|urlencode object.name|urlencode %}">Copy</a></li>
        <li style="margin: 0" class="form">{% include "django_openstack/dash/objects/_delete.html" with form=delete_form %}</li>
        <li style="margin: 0" class="form">{% include "django_openstack/dash/objects/_download.html" with form=download_form %}</li>
        <li style="margin: 0"><a href="{% url dash_objects_meta request.user.tenant_id container_name|urlencode object.name|urlencode %}">Metadata</a>
      </ul> 
    </td>
  </tr>
  {% endfor %}
</table>
