{% extends 'django_openstack/dash/base.html' %}

{% block sidebar %}
  {% with current_sidebar="containers" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% url dash_objects request.user.tenant_id container_name|urlencode as refresh_link %}
  {% include 'django_openstack/common/_page_header.html' with title="Objects" refresh_link=refresh_link searchable="true" %}
{% endblock page_header %}

{% block dash_main %}
  <h3 class="container_name"><span>Container:</span> {{ container_name_unquoted }}
   {% if request.session.storage_url %} (at {{request.session.storage_url}}) {% endif %} </h3>

  {% if objects %}
    {% include 'django_openstack/dash/objects/_list.html' %}
  {% else %}
    <div class="message_box info">
      <h2>Info</h2>
      <p>There are currently no objects in the container {{container_name}}.  You can upload a new object from the <a href='{% url dash_objects_upload request.user.tenant_id container_name|urlencode %}'>Object Upload Page &gt;&gt;</a></p>
    </div>
  {% endif %}
  <div>
  <a class="action_link large-rounded" href="{% url dash_objects_upload request.user.tenant_id container_name|urlencode %}">Upload New Object &gt;&gt;</a>
  </div>

  <br />
  <div><h3><a href="{% url dash_containers_storage_url request.user.tenant_id %}">&lt;&lt; Return to containers list</a></h3></div>
{% endblock %}
